.App-outer {
  --header-height: 7.5%;

  width: 100vw;
  height: 100vh;
  background-color: darkslategrey;
  overflow-y: auto;
}

.App-header {
  position: relative;
  width: 100%;
  height: var(--header-height);
  background-color: firebrick;
}

.App-header p {
  font-size: 3em;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  text-align: center;
}

.App-inner {
  background-color: lightslategray;
  width: 90%;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;

  position: relative;

  left: 50%;
  transform: translateX(-50%);
}

/* thin screen */
@media only screen and (max-width : 700px) { 
  .App-header p {
    font-size: 2em;
  }
}

